.formback{
    width: 510px;
    height: 500px;
    background-color: brown;
    padding: 50px 50px 50px 50px;
}

.heading h1{
    margin-top: 20px;
}
form{
    background-color: rgb(3, 0, 0);
    width: 500px;
    height: 500px;
    
}
.emailheading{
margin-left: 40px;
color: white;
}
.heading{
    text-align: center;
    color: white;
}
body{
    
    background-color: bisque;
    width: 100%;
}
.email input{
    width: 413px;
    text-align: center;
    background-color: black;
    color: white;
    text-shadow: 100px;
}
.email{
    text-align: center;
}
.paswordheading{
    margin-left: 40px;
color: white;
}
.pasword input{
    width: 413px;
    text-align: center;
    background-color: black;
    color: white;
    font-size: 13px;
}
.pasword{
    text-align: center;
}
.login input{
    
    
   
    width: 420px;
    height: 50px;
}
.login{
    text-align: center;
}
.footer{
    color: white;
    margin-left: 30px;
}
.footer a{
    color: rgb(30, 255, 0);
}
